<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spare Parts Market | Admin Signup</title>
    <link rel="stylesheet" href="/SparePartsMarket/Css/adminsignup.css">
</head>
<body>
    
<div class="container">
    <div class="contant">
        <form id="formValue">
            <h1>Admin Registration</h1>
            <input type="text" id="username" name="username" placeholder="user-name" ><br>
            <input type="password" id="pwd" name="pass" placeholder="password" ><br>
            <input type="password" id="cpwd" name="cpass" placeholder="password"><br>
            <button id="send">Register</button>
            <button><a href="/SparepartsMarket/View/adminlogin.php">Login</a></button>

            
        </form>
    </div>
</div>
    <script src="\SparePartsMarket\Ajax\adminregprocess.js"></script>
</body>
</html>